<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <section>
        <h1>Recipe List</h1>
        <% recipes.forEach(recipe => { %>
            <div class="recipe">
            </div>
        <% }) %>
    <%- include('partials/footer') %>
</body>
</html>